/* CSS declarations go here */
header{
	overflow: hidden;
}

.new{
	margin-top: 20px;
	margin-bottom: 10px;
}

.card{
	border-radius: 4px;
}

.candidate{
	padding: 10px;
	margin-bottom: 10px;
	background-color: lightsteelblue;
	border-radius: 4px;
}

.edit{
	margin-right: 10px;
}

.new-candidate{
	margin-bottom: 10px;
}

.update-candidate{
	display: none;
}