template(name="app")
	+header
	.container
		header
			h1 Just Hiring
			.new
				form.new-vacancy.form-inline
					.form-group
						input.form-control(name="vRole", placeholder="Papel", type="text")
					.form-group
						select.form-control(name="nivel")
							each niveis
								option(value="#{nivel.name}") #{nivel.name}
						input.form-control(name="vCost", placeholder="Faixa Salarial", type='number' )
					.form-group
						label(for="init")
						input.form-control(id="init", name="init", type='date' )
						label(for="end")
						input.form-control(id="end", name="end", type='date' )
					input(type="submit", name="submit", value="Nova vaga").btn.btn-default
		ul.list-unstyled
			each oport
				+contentVaga
		.modal
	+footer
