/* CSS declarations go here */
header{
	overflow: hidden;
}

.new{
	margin-top: 20px;
	margin-bottom: 10px;
}

.card{
	border-radius: 4px;
	background-color: #f0f0f0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.card .main,
.card .footer {
	padding: 10px 20px;
}

.main h2 {
	margin: 0; 
}

.candidate{
	padding: 10px;
	margin-bottom: 10px;
	background-color: lightsteelblue;
	border-radius: 4px;
}

.edit{
	margin-right: 10px;
}

.new-candidate{
	margin-bottom: 10px;
}

.update-candidate{
	display: none;
}