template(name="app")
	body
		.container
			header
				h1.pull-left Just Hiring
				.new.pull-right
					form.new-vacancy.form-inline
						.form-group
							input.form-control(name="vRole", placeholder="Papel", type="text")
						.form-group
							input.form-control(name="vCost", placeholder="Faixa Salarial", type='number' )
							select.form-control(name="nivel")
								each niveis
									+nivelOpt
							input(type="submit", name="submit", value="Nova vaga").btn.btn-default
			ul.list-unstyled
				li.col-md-4
					.card.bg-success
						.thumb
							img(src="http://placehold.it/350x150")
						.main
							h2 Titulo
							h3.cargo Cargo
							p R$1000